data/imagedata*
data/page*
node_modules
Modules/data
__pycache__
**/__pycache__
logs/
*.pickle
Modules/gpt_res
UI/__pycache__/
UI/static/
Modules/__pycache__
Shots/
Shots_arxiv/
.vscode/
UI/data/
cache/
expr/
result.csv
tmp.*
.DS_Store