<!DOCTYPE html>
<head>
  <title>Decoder</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- 将整个网页排列成两列格式 -->
  <div class="row">
    <!-- 不仅仅背景是f1f1f1，还要圆角，还要拓展 -->

    <div
      class="column-left"
      style="background-color: #f1f1f1; border-radius: 20px"
    >
      <div
        class="column-left"
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      >
        <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />

        <h3>Enter your intention</h3>
        <form action="/" method="post">
          <input
            type="text"
            name="intention"
            placeholder="Enter an intention"
            required
          />
          <input type="submit" value="Generate" style="margin-bottom: 10px";/>
        </form>
        {% if result %}
        <h4>Predicted operation sequence</h4>
        <!-- 根据result的换行符分割 -->
        {% for line in result.splitlines() %}
        <div class="result_container">
          <h5 class="result">{{ line }}</h5>
        </div>
        {% endfor %} {% endif %}
        <!-- 建立一个button，每次点击也会发请求，但是不需要输入框，样式为submit -->
        <form action="/" method="post">
          <input type="submit" value="Next Step" name="next" style="margin-top: 10px;"/>
        </form>
      </div>
    </div>
    <!-- 右侧为输出框 -->
    <div
      class="column-left"
      style="background-color: #f1f1f1; border-radius: 20px"
    >
      <div
        class="column-left"
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      >
        <img
          src="{{ url_for('static', filename='text-pages.png') }}"
          class="icon"
        />
        <h3>Run-time Page</h3>
        <!-- 插入大小固定的图片，源自data文件夹下 -->
        {% if img_id %}
        <img
          src="{{ url_for('static', filename='data/imagedata'+img_id+'.png') }}"
          class="image"
        />
        {% endif %}
      </div>
    </div>
    <div
      class="column-left"
      style="background-color: #f1f1f1; border-radius: 20px"
    >
      <div
        class="column-left"
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      >
        <img
          src="{{ url_for('static', filename='text-pages.png') }}"
          class="icon"
        />
        <h3>Semantic Info</h3>
        {% if semantic_info %}
        <!-- 根据result的换行符分割 -->
        <div class="result_container">
          {% for line in semantic_info.splitlines() %}
          <h5 class="result">{{ line }}</h5>
          {% endfor %}
        </div>
         {% endif %}
      </div>
    </div>
  </div>
</body>
