<!DOCTYPE html>
<head>
  <title>Decoder</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- 将整个网页排列成两列格式 -->
  <div class="row" id="content">
    <!-- 不仅仅背景是f1f1f1，还要圆角，还要拓展 -->

    <div
      class="column-left"
      style="background-color: #f1f1f1; border-radius: 20px"
    >
      <div
        class="column-left"
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      >
        <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />

        <h3>Enter your intention</h3>
        <form action="/" method="post">
          <input
            type="text"
            name="intention"
            placeholder="Enter an intention"
            required
          />
          <input type="submit" value="Generate" style="margin-bottom: 10px" ; />
        </form>

        <h4>Predicted operation sequence</h4>
        <h5 class="result" id="result"></h5>

        <form action="/" method="post">
          <input
            type="submit"
            value="Start"
            name="start"
            style="margin-top: 10px"
          />
        </form>
        <form action="/" method="post">
          <input
            type="submit"
            value="Reset"
            name="reset"
            style="margin-top: 10px"
          />
        </form>
      </div>
      <div
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
        id="chart1"
      >
        <canvas id="myChart"></canvas>
      </div>
      <div
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
        id="chart2"
      >
        <canvas id="myLineChart"></canvas>
      </div>
    </div>
    <!-- 右侧为输出框 -->
    <div
      class="column-left"
      style="background-color: #f1f1f1; border-radius: 20px"
    >
      <div
        class="column-left"
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      >
        <img
          src="{{ url_for('static', filename='text-pages.png') }}"
          class="icon"
        />
        <h3>Run-time Page</h3>
        <img src="" class="image" id="image_id" />
      </div>
    </div>
    <div
      class="column-left"
      style="background-color: #f1f1f1; border-radius: 20px"
    >
      <div
        class="column-left"
        style="
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      >
        <img
          src="{{ url_for('static', filename='text-pages.png') }}"
          class="icon"
        />
        <h3>Semantic Info</h3>
        {% if semantic_info %}
        <!-- 根据result的换行符分割 -->
        <div class="result_container">
          {% for line in semantic_info.splitlines() %}
          <h5 class="result">{{ line }}</h5>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var elements = JSON.parse({{ elements|tojson|safe }});
  document.getElementById("result").textContent = elements.result;
  // 将路径为'data/imagedata'+img_id+'.jpg'的图片置为image_id的src
  document.getElementById("image_id").src = 'static/data/imagedata' + elements.image_id + '.jpg';
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var new_html = {};
  var hist = {};
  function pollBackend() {
    $.ajax({
      url: "/test_data",
      type: "GET",
      success: function (data) {
        // 处理返回的数据

        new_html = JSON.parse(data);
        console.log(new_html);
        console.log(hist);
        if (new_html.result !== hist.result) {
          hist = new_html;
          console.log("new data");
          document.getElementById("result").textContent = new_html.result;
          document.getElementById("image_id").src =
            "static/data/imagedata" + new_html.image_id + ".jpg";
          $("#myChart").remove();
          $("#chart1").append('<canvas id="myChart"></canvas>');
          $("#myLineChart").remove();
          $("#chart2").append('<canvas id="myLineChart"></canvas>');

          var ctx = document.getElementById("myChart");
          var chartData = new_html.chart_data;
          new Chart(ctx, {
            type: "doughnut",
            data: chartData,
            options: {
              responsive: true,
              plugins: {
                legend: {
                  position: "top",
                },
                title: {
                  display: true,
                  text: "Probabilities of each operation",
                },
              },
            },
          });
          var ctx2 = document.getElementById("myLineChart");
          var lineData = new_html.line_data;
          new Chart(ctx2, {
            type: "line",
            data: lineData,
            options: {
              responsive: true,
              plugins: {
                title: {
                  display: true,
                  text: (ctx2) => "Point Style: ",
                },
              },
              y: {
                title: {
                  display: true,
                  text: "Value",
                },
                suggestedMin: 60,
                suggestedMax: 100,
                ticks: {
                  // forces step size to be 50 units
                  stepSize: 1,
                },
              },
            },
          });
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.error("Error polling backend:", textStatus, errorThrown);
      },
    });
  }

  $(document).ready(function () {
    // 每5秒轮询一次
    pollBackend();
    setInterval(pollBackend, 1000);
  });
</script>
